body {
    background-color: #252830;
    font-family: 'Ubuntu', sans-serif;
}
.headline {
    color: white;
    font-weight: bold;
}
header h1 {
    color: white;
    font-weight: bold;
}

header p {
    color: #aaafbf;
}