<h3>Create a Proposal</h3>
<div>
    <form #proposalForm="ngForm">
        <div class="form-group">
            <label for="customer">Customer Name</label>
            <input type="text"
                   id="customer"
                   placeholder="ABC Company"
                   required
                   name="customer"
                   #customer='ngModel'
                   [(ngModel)]="proposal.customer"
            />
        </div>
        <div [hidden]="customer.valid || customer.pristine">Customer Name is required</div>
        
        <div class="form-group">
            <label for="portfolio_url">Portfolio URL</label>
            <input type="text"
                   id="portfolio_url"
                   required
                   name="portfolio_url"
                   #portfolio_url='ngModel'
                   [(ngModel)]="proposal.portfolio_url"
            />
        </div>
        <div [hidden]="portfolio_url.valid || portfolio_url.pristine">Portfolio URL is required</div
        
        <div class="form-group">
            <label for="tools">Tools you need on the project</label>
            <input type="text"
                   id="tools"
                   placeholder="Ruby on Rails, ReactJS..."
                   required
                   name="tools"
                   #tools='ngModel'
                   [(ngModel)]="proposal.tools"
            />
        </div>
        <div [hidden]="tools.valid || tools.pristine">List of tools is required</div>
        <div class="form-group">
            <label for="estimated_hours">Estimated hours</label>
            <input type="number"
                   id="estimated_hours"
                   required
                   name="estimated_hours"
                   #estimated_hours='ngModel'
                   [(ngModel)]="proposal.estimated_hours"
            />
        </div>
        <div [hidden]="estimated_hours.valid || estimated_hours.pristine">Estimated hours is required</div>
        <div class="form-group">
            <label for="hourly_rate">Hourly rate</label>
            <input type="number"
                   id="hourly_rate"
                   required
                   name="hourly_rate"
                   #hourly_rate='ngModel'
                   [(ngModel)]="proposal.hourly_rate"
            />
        </div>
        <div [hidden]="hourly_rate.valid || hourly_rate.pristine">Hourly rate is required</div>

        <div class="form-group">
            <label for="weeks_to_complete">Weeks to complete</label>
            <input type="number"
                   id="weeks_to_complete"
                   required
                   name="weeks_to_complete"
                   #weeks_to_complete='ngModel'
                   [(ngModel)]="proposal.weeks_to_complete"
            />
        </div>
        <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine">Weeks amount is required</div>

        <div class="form-group">
            <label for="client_email">Client Email <em>(optional)</em></label>
            <input type="email"
                   id="client_email"
                   name="client_email"
                   #client_email='ngModel'
                   [(ngModel)]="proposal.client_email"
            />
        </div>
    </form>
</div>

<div>
	<p>Hi {{ proposal.customer }},</p>


	<p>It was a pleasure getting to meet with you and review your project requirements,
	I believe it is a great fit for the types of applications that I build out.
	Please feel free to check out some of my past projects <a href="{{ proposal.portfolio_url }}">here</a>.</p>

	<p>To successfully build out the application I will be utilizing {{ proposal.tools }},
    and a number of other tools to ensure that the project follows industry wide best practices.</p>

	<p>Ensuring that you are fully informed is one of my top priorities, so in addition
	to incorporating everything that we discussed, I will also be creating a project
	management dashboard and sending you a project update message daily so that you
	can have a transparent view of the development as it takes place.</p>
	
	<p>To accomplish the project and meet the requirements that we discussed, 
	I am estimating that it will take {{ proposal.estimated_hours }} hours in 
	development time to complete. The project should take {{ proposal.weeks_to_complete }} 
	weeks to complete and with my hourly rate of {{ proposal.hourly_rate }}/hour, the estimated 
	total will be {{ proposal.hourly_rate * proposal.estimated_hours }}.</p>

	<p>The next step from here is to set up a meeting to finalize the project and sign contracts.</p>

	<p>I am excited to working with you and build out this project.</p>
</div>