
<div class="card container form-container">
    
    <div class="row">
        <div class="col-md-6">
            <h3>Create a Proposal</h3>
            <div>
                <form (ngSubmit)="createProposal(proposal)" #proposalForm="ngForm">
                    <div class="form-group">
                        <label for="customer">Customer Name</label>
                        <input type="text"
                               class="form-control"
                               id="customer"
                               placeholder="ABC Company"
                               required
                               name="customer"
                               #customer='ngModel'
                               [(ngModel)]="proposal.customer"
                        />
                    </div>
                    <div [hidden]="customer.valid || customer.pristine"
                    class="alert alert-danger form-alert">Customer Name is required</div>
                    
                    <div class="form-group">
                        <label for="portfolio_url">Portfolio URL</label>
                        <input type="text"
                               class="form-control"
                               id="portfolio_url"
                               required
                               name="portfolio_url"
                               #portfolio_url='ngModel'
                               [(ngModel)]="proposal.portfolio_url"
                        />
                    </div>
                    <div [hidden]="portfolio_url.valid || portfolio_url.pristine"
                     class="alert alert-danger form-alert">Portfolio  is required</div>
                    <div class="form-group">
                        <label for="tools">Tools you need on the project</label>
                        <input type="text"
                               class="form-control"
                               id="tools"
                               placeholder="Ruby on Rails, ReactJS..."
                               required
                               name="tools"
                               #tools='ngModel'
                               [(ngModel)]="proposal.tools"
                        />
                    </div>
                    <div [hidden]="tools.valid || tools.pristine"
                     class="alert alert-danger form-alert">List of tools  is required</div>
                    <div class="form-group">
                        <label for="estimated_hours">Estimated hours</label>
                        <input type="number"
                               class="form-control"
                               id="estimated_hours"
                               required
                               name="estimated_hours"
                               #estimated_hours='ngModel'
                               [(ngModel)]="proposal.estimated_hours"
                        />
                    </div>
                    <div [hidden]="estimated_hours.valid || estimated_hours.pristine"
                     class="alert alert-danger form-alert">Estimated hours is required</div>
                    <div class="form-group">
                        <label for="hourly_rate">Hourly rate</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number"
                                   class="form-control"
                                   id="hourly_rate"
                                   required
                                   name="hourly_rate"
                                   #hourly_rate='ngModel'
                                   [(ngModel)]="proposal.hourly_rate"
                            />
                        </div>
                    </div>
                    <div [hidden]="hourly_rate.valid || hourly_rate.pristine"
                     class="alert alert-danger form-alert">Hourly rate is required</div>
                    <div class="form-group">
                        <label for="weeks_to_complete">Weeks to complete</label>
                        <input type="number"
                               class="form-control"
                               id="weeks_to_complete"
                               required
                               name="weeks_to_complete"
                               #weeks_to_complete='ngModel'
                               [(ngModel)]="proposal.weeks_to_complete"
                        />
                    </div>
                    <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine"
                     class="alert alert-danger form-alert">Weeks amount is required</div>
                    <div class="form-group">
                        <label for="client_email">Client Email <em>(optional)</em></label>
                        <input type="email"
                               class="form-control"
                               id="client_email"
                               name="client_email"
                               #client_email='ngModel'
                               [(ngModel)]="proposal.client_email"
                        />
                    </div>
                    <button type="submit" 
                            class="btn btn-outline-primary btn-lg" 
                            [disabled]="!proposalForm.form.valid"
                            [hidden]="submitted" >Generate proposal</button>
                    <div class="alert alert-success" role="alert" [hidden]="!submitted">
                        Your proposal has been generated <a class="alert-link" routerLink="/proposals">View all proposals</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <p>Hi {{ proposal.customer }},</p>

        	<p>It was a pleasure getting to meet with you and review your project requirements,
        	I believe it is a great fit for the types of applications that I build out.
        	Please feel free to check out some of my past projects <a href="{{ proposal.portfolio_url }}">here</a>.</p>
        
        	<p>To successfully build out the application I will be utilizing {{ proposal.tools }},
            and a number of other tools to ensure that the project follows industry wide best practices.</p>
        
        	<p>Ensuring that you are fully informed is one of my top priorities, so in addition
        	to incorporating everything that we discussed, I will also be creating a project
        	management dashboard and sending you a project update message daily so that you
        	can have a transparent view of the development as it takes place.</p>
        	
        	<p>To accomplish the project and meet the requirements that we discussed, 
        	I am estimating that it will take {{ proposal.estimated_hours }} hours in 
        	development time to complete. The project should take {{ proposal.weeks_to_complete }} 
        	weeks to complete and with my hourly rate of {{ proposal.hourly_rate }}/hour, the estimated 
        	total will be {{ proposal.hourly_rate * proposal.estimated_hours | currency:'USD':true:'.0'}}.</p>
        
        	<p>The next step from here is to set up a meeting to finalize the project and sign contracts.</p>
        
        	<p>I am excited to working with you and build out this project.</p>
        </div>
    </div>
    
    
</div>


