<div class="container">
    <div class="list-group">
      <a class="list-group-item list-group-item-action active">
          <h1 class="headline">Proposal list</h1>
      </a>
      <a (click)="goToShow(proposal)" class="list-group-item list-group-item-action" *ngFor="let proposal of proposals">
        <h5 class="list-group-item-heading">{{ proposal.customer }}</h5>
        <p class="list-group-item-text">
            {{ proposal.hourly_rate * proposal.estimated_hours | currency:'USD':true:'.0'}}
        </p>
      </a>
    </div>
</div>