.app-body {
    margin-top: 90px;
}

.nav-styles {
    background-color: #1a1b22;
}

.nav-styles a {
    color: white;
}

.nav-styles a:hover {
    color: #c9c9c9;
}

.nav-link.active {
    color: #e64758 !important;
}
.nav-link .active:hover {
    color: white;
}

.dropdown-links a {
    color: #1a1b22;
}
.dropdown-links a:hover {
    color: #252830;
}