<div class="container">
    <div class="jumbotron">
        <h1>Freelancer dashboard</h1>
        <p>Go to:</p> 
            <ul>
                <li>
                    <a routerLink="/documents" routerLinkActive="active">Docs</a>
                </li>
                <li>
                    <a routerLink="/proposals" routerLinkActive="active">Proposals</a>
                </li>
                <li>
                    <a routerLink="/proposals/new" routerLinkActive="active">New Proposal</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </li>
            </ul>
    </div>
    
</div>
