<div class="container">
  <header>
    <h1>{{ pageTitle }}</h1>
    <p>All documents are listed below </p>
  </header>

  <div class="card" *ngFor="let doc of documents">
    <div class="card-block">
      <h4 class="card-title">{{ doc.title }}</h4>
      <h6 class="card-subtitle text-muted">Last updated: {{ doc.updated_at | date }}</h6>
    </div>
    <img src="{{ doc.image_url }}" alt="Card image" style="width:100%">
    <div class="card-block">
      <p class="card-text">{{ doc.description }}</p>
      <a href="{{ doc.file_url }}" class="card-link btn btn-primary">Download file</a>
      <br/>
    </div>
  </div>
</div>