<div class="container">
  <header>
    <h1>About this project</h1>
  </header>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title"> Hi! </h4>

    </div>
    <div class="card-block">
      <p class="card-text">You can find this project on my bitbucket: https://ptrboro@bitbucket.org/ptrboro/angular2-rails.git<br/>
      This app is using two rails microservices hosted on heroku.
      Sometimes it takes about 20 or 30 seconds for heroku to start the servers.
      </p>
      <br/>
    </div>
  </div>
  
</div>